# .gitignore

# Ignore the datasets directory
/datasets/
/nl-en/
/DGT-TM-2016/
/tmp/
/wandb/
/europarl/

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.npy

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# VS Code
.vscode/

**/.DS_Store

# Converted data
*.jsonl
*.png
*.jpg
*.jpeg
*.pdf
*.txt
*.csv