# .gitignore

# Ignore the datasets directory
/datasets/
/nl-en/

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.npy

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# VS Code
.vscode/

# Converted data
*.jsonl